.footer .container {
    display: flex;
    
    background-color: #30d5c8; 
    justify-content: space-between; /* Distribute space between items */

    padding: 20px 15px; /* Adds padding on the sides and top/bottom */
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
    
}

.footer-links{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    

}

.footer .footer-category {
    margin: 10px; 

}

.footer .footer-category h4 {
    font-size: 1.2em; /* Larger text for category titles */
}

.footer-link {
    color: white;
    text-decoration: none;
    display: block; /* Each link will be on its own line */
    margin: 5px 10px; 
    
}

.footer-link:hover {
    text-decoration: underline;
    color: #d4e2ff; /* A lighter blue for hover state */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer .container {
        justify-content: center; /* Center items on smaller screens */
        padding: 20px; /* Increase padding for smaller screens */
    }

    .footer .footer-category {
        /* Remove flex-basis and display properties */
        margin: 10px 0; /* Adjust margin for stacked categories */
        text-align: center; /* Center text for categories */
    }

    .footer-link {
        margin: 5px auto; /* Center links when stacked */
    }
    .footer-link{
        flex-direction: row;
        display: flex;
        justify-content: space-evenly;
        margin: 5px 10px; 

    
    }
}