
.background {
    background-image: url('../../../public/images/From\ Our\ CEO.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto; 
    min-height: 800px; 
  }
  
  .home-header {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Navbar styles */
  .navbar-custom {
    background-color: transparent; 
  }
  
  .navbar-brand-custom {
    font-weight: bold;
    color: #333;
  }
  
  .nav-link-custom {
    color: #555;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link-custom:hover {
    color: #000;
  }
  
  /* Navbar toggler icon */
  .navbar-toggler-custom {
    border-color: rgba(0, 0, 0, 0.1);
  }
  
  .navbar-toggler-icon-custom {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  /* Adjusts the navbar collapse */
  .navbar-collapse-custom {
    justify-content: flex-end;
  }
  
  .offcanvas-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 100%;
    max-width: 300px;
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    z-index: 1050; /* Higher than the navbar */
    overflow-y: auto; /* Scrollable when content is longer than screen */
  }
  
  .offcanvas-container.expanded {
    right: 0;
  }
  
  /* Home.css */


  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .home-background {
      min-height: 300px; 
      background-position: top center; 
    }
  }
  
  @media (max-width: 576px) {
    .home-background {
      min-height: 300px; 
    }
  }
  




  @media (min-width: 992px) {
    .offcanvas-container {
      position: static;
      width: auto;
      max-width: none;
      box-shadow: none;
    }
  }