.background {
    background-image: url('../../public/images/Home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto; 
    min-height: 800px; 
  }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .background {
          min-height: 600px; 
          background-position: top center; 
        }
      }
      
      @media (max-width: 576px) {
        .background {
          background-image: url('../../public/images/Home_res.png');
          background-size:cover;

          min-height: 500px; 
        }
      }