/* Add some spacing between the table rows */
.table tbody tr {
    line-height: 2.5;
  }
  
  /* Style the buttons inside the table */
  .table .btn {
    margin-right: 5px; /* Add some spacing between the buttons */
  }
  
  /* Center the table header text */
  .thead-dark th {
    text-align: center;
  }
  